* text=auto
*.app text eol=lf
*.appMenu text eol=lf
*.assignmentRules text eol=lf
*.auradoc text eol=lf
*.autoResponseRules text eol=lf
*.callCenter text eol=lf
*.cls text eol=lf
*.cmp text eol=lf
*.component text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.customPermission text eol=lf
*.dashboard text eol=lf
*.design text eol=lf
*.duplicateRule text eol=lf
*.email text eol=lf
*.escalationRules text eol=lf
*.evt text eol=lf
*.flexipage text eol=lf
*.flow text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.globalValueSet text eol=lf
*.globalValueSetTranslation text eol=lf
*.group text eol=lf
*.homePageComponent text eol=lf
*.homePageLayout text eol=lf
*.js text eol=lf
*.labels text eol=lf
*.layout text eol=lf
*.matchingRule text eol=lf
*.md text eol=lf
*.object text eol=lf
*.objectTranslation text eol=lf
*.page text eol=lf
*.pathAssistant text eol=lf
*.permissionset text eol=lf
*.pl text eol=lf
*.profile text eol=lf
*.py text eol=lf
*.queue text eol=lf
*.quickAction text eol=lf
*.report text eol=lf
*.reportType text eol=lf
*.resource text=auto
*.settings text eol=lf
*.sharingRules text eol=lf
*.site text eol=lf
*.standardValueSet text eol=lf
*.standardValueSetTranslation text eol=lf
*.tab text eol=lf
*.trigger text eol=lf
*.weblink text eol=lf
*.workflow text eol=lf
*.xml text eol=lf